<div id="<%= dom_id project %>">
  <p>
    <strong>Code:</strong>
    <%= project.code %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= project.start_date %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= project.name %>
  </p>

  <p>
    <strong>Value:</strong>
    <%= project.value %>
  </p>

  <p>
    <strong>Client:</strong>
    <%= project.client.name %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= project.status.name %>
  </p>

</div>
